/* part1 */
.gtco-section {
    padding: 7em 0;
    clear: both;
    position: relative;
  }
  .gtco-container {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gtco-container .row:first-child{
    justify-content: center;
  }
  .gtco-heading {
    margin-bottom: 5em;
  }
  .gtco-heading h2 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 300;
    color: #000;
  }
  .gtco-heading p {
    font-size: 20px;
    line-height: 1.5;
    color: gray;
  }
  .fh5co-card-item {
    display: block;
    width: 100%;
    background: #fff;
    overflow: hidden;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0px;
    transition: 0.3s;
  }
  .fh5co-card-item figure {
    height: 240px;
    overflow: hidden;
    z-index: 12;
    position: relative;
  }
  .fh5co-card-item img {
    z-index: 8;
    opacity: 1;
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }
  .fh5co-card-item .fh5co-text {
    padding: 0px 10px 10px 20px;
    text-align: center;
    height: 200px;
  }
  .fh5co-card-item .fh5co-text h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #09C6AB;
  }
  .fh5co-card-item .fh5co-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
  }
  .fh5co-card-item .fh5co-text p {
    color: #000;
    transition: 0.5s;
  }
  .fh5co-card-item .fh5co-text span.btn {
    color: #fff !important;
    opacity: 1;
    visibility: visible;
    bottom: 0;
    background: #1a1a1a;
    border: 2px solid #1a1a1a !important;
    position: relative;
    transition: 0.5s;
  }
  .fh5co-card-item:hover, .fh5co-card-item:focus {
    bottom: 7px;
    text-decoration: none;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  }
  .fh5co-card-item:hover img, .fh5co-card-item:focus img {
    transform: scale(1.2);
  }
  .fh5co-card-item:hover span.btn, .fh5co-card-item:focus span.btn {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    border: 2px solid #0adec0 !important;
    background: #0adec0 !important;
  }
  /* tour */
  .section-sm {
    padding: 50px 0;
  }
  .oh-desktop{
    text-align: center;
    margin: 50px;
  }
  .oh-desktop span{
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2px;
  }
  .product-big {
    /* border: 1px solid #09C6AB; */
    margin: 10px;
}
.product-big-figure img{
  margin-top: 5px;
  vertical-align: middle;
  overflow: hidden;
}
.product-big-figure:hover img, .product-big-figure:focus img{
  transform: scale(0.9);
  transition: all .3s ease;
}
.product-big-body {
  padding: 30px 70px 30px 10%;
}
.product-big-title {
  font-weight: 500;
  letter-spacing: normal;
  font-size: 30px;
}
.product-big-title a{
  color: #000;
}
.product-big-title a:hover{
  color: #01b3a7;
  transition: all 0.3s ease-in-out;
}
.product-big-text {
  letter-spacing: .025em;
  color: #9b9b9b;
  margin-top: 10px;
  font-size: 18px;
}
.button-black-outline{
  font-size: 18px;
  line-height: 1.34;
  border: 2px solid;
  color: #151515;
  background-color: transparent;
  border-color: #151515;
  margin-top: 25px;
  min-width: 170px;
  padding: 17px 28px 15px;
  display: inline-block;
  
}
.button-black-outline:hover{
  color: #000;
    transition: transform 0.42s, opacity 0.42s;
    border: none;
    background: #01b3a7;
    /* transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); */
}
.product-big-price-wrap{
  background-color: #01b3a7;
  text-align: center;
  margin: 25px;
  padding: 10px;
}
.product-big-price{
  color: #fff;
    font-size: 20px;
}
/* search */
.where_togo_area {
  background: #040e27;
  padding: 50px 0;
}
.where_togo_area .form_area h3 {
  font-size: 27px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2em;
}
.search_form{
  display: flex;
  justify-content: space-between;
}
.where_togo_area .search_wrap .input_field {
  width: 250px;
  
}
.where_togo_area .search_wrap .input_field input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid #363e52;
  padding-left: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}
.choose{
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid #363e52;
  padding-left: 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}
.choose option{
  background-color: #040e27;
}
.boxed-btn4 {
  background: #ff4a52;
  color: #fff;
  display: inline-block;
  padding: 10px 39px;
  font-family: "Rubik",sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: .3s;
  cursor: pointer;
  font-size: 20px;
}
.boxed-btn4:hover{
  background: #0adec0;
}
