.tour {
    flex: 4;
    padding: 20px;
  }
  
  .tourTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tourAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .tourTop {
    display: flex;
  }
  
  .tourTopLeft,
  .tourTopRight {
    flex: 1;
  }
  
  .tourTopRight {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .tourInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .tourInfoTop {
    display: flex;
    align-items: center;
  }
  
  .tourName {
    font-weight: 600;
  }
  
  .tourInfoBottom {
    margin-top: 10px;
  }
  
  .tourInfoItem {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .tourInfoValue {
    font-weight: 300;
  }
  
  .tourBottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .tourForm {
    display: flex;
    justify-content: space-between;
  }
  
  .tourFormLeft {
    display: flex;
    flex-direction: column;
  }
  
  .tourFormLeft > label {
    margin-bottom: 10px;
    color: gray;
  }
  
  .tourFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
  }
  
  .tourFormLeft >select{
    margin-bottom: 10px;
  }
  
  .tourUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .tourFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .tourUpload{
    display: flex;
    align-items: center;
  }
  
  .tourButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
  }