.newVehicle {
    flex: 4;
  }
  
  .addVehicleForm {
    margin-top: 10px;
  }
  
  .addVehicleItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addVehicleItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addVehicleItem > input {
    padding: 10px;
  }
  
  .addVehicleItem > select {
    padding: 10px;
  }
  
  .addVehicleButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  