/* body */
body{
  /* overflow: auto; */
  width: 100%;
  
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* Header*/
#pills-tab{
  /* background-color: rgb(11, 145, 145); */
  padding: 20px 20px;
  margin: auto;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  justify-content: flex-end;
  background-color: black;
}
#pills-child-tab > a{
  color: white;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.logo{
  flex: auto;
}
#pills-child-tab > a:hover{
  color: brown;
}
/* slick */
.slick{
  position: relative;
}
.slick-prev,
.slick-next {
   display: none !important; 
}
.slick-list{
  height: 655px;
}

.title-slick{
  position: absolute;
  color: whitesmoke;
  font-size: 50px;
  top: 300px;
  margin-left: 100px;
  padding-left: 50px;

}
@keyframes tingting {
  0%   {color:red; }
  25%  {color:yellow; }
  50%  {color:blue; }
  75%  {color:green; }
  100% {color:red; }
}
.title-slick > *{
  animation-name: tingting;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Footer */
.fix-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}
.footer-corporate {
	text-align: center;
	background: #162e44;
}
.footer-corporate h6{
  text-align: center;
  font-size: 20px;
}
.context-dark{
  color: #fff;
}
.footer-corporate-inset {
	padding: 50px 0;
}
.footer-contacts{
  margin-top: 28px;
  padding: 0;
}
.footer-contacts .icon {
  vertical-align: middle;
  text-align: left;
  min-width: 21px;
  font-size: 24px;
  line-height: 24px;
  color: #01b3a7;
}
.footer-corporate .footer-contacts a {
  letter-spacing: .05em;
  color: #fff;
  vertical-align: middle;
  line-height: 1.72;
  font-size: 18px;
}
.unit{
  display: flex;
}
.unit > * {
  margin-bottom: 10px;
  margin-left: 22px;
}
.post-minimal-2 {
  margin-top: 24px;
}
.footer-corporate-inset .post-minimal-2 a {
  color: #01b3a7;
}
.list-custom-2{
  columns: 2;
  margin-top: 20px;
  max-width: 90%;
  column-rule: dashed #01b3a7;
}
.list-marked-md > li {
  text-indent: -18px;
  padding-left: 18px;
}
.list-marked-md > li > a{
  color: #fff;
}
/* @keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
} */


