/* body */
body{
  overflow: auto;
  width: 100%;
  
}
/* Header*/
#pills-tab{
  /* background-color: rgb(11, 145, 145); */
  padding: 20px 20px;
  margin: auto;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  justify-content: flex-end;
}
#pills-child-tab > a{
  color: white;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
#pills-child-tab > a:hover{
  color: brown;
}
/*  */
.slick{
  position: relative;
}
.slick-prev,
.slick-next {
   display: none !important; 
}
.slick-list{
  height: 656px;
}
